@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: black;
}


/* Track */

body::-webkit-scrollbar-track {
    border-radius: 10px;
}


/* Handle */

body::-webkit-scrollbar-thumb {
    background: #272626;
}


/* Handle on hover */

body::-webkit-scrollbar-thumb:hover {
    background: #3c996a;
}

.container {
    height: 100%;
    position: relative;
}


/* Navbar Style */

.navBar {
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 0 80px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-btn a {
    color: white;
    display: none;
}

ul {
    list-style: none;
    text-decoration: none;
}

.left-side a {
    font-size: 20pt;
    font-style: bold;
    text-decoration: none;
    color: white;
}

.right-side a {
    font-size: 12pt;
    text-decoration: none;
    color: white;
}

.right-side ul li {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    float: left;
    cursor: pointer;
}

.icon {
    display: none;
}


/* Main-content Stle */

.main-content {
    padding: 0 80px;
}


/* About Me Sec Style */

.aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.photo img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.text h1 {
    padding: 50px 0;
    width: 900px;
    text-align: center;
    font-weight: 600;
}

.text span {
    color: #3c996a;
}

.socMed ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socMed a i {
    margin: 15px;
    color: black;
}


/* Skills Sec Style */

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 30pt;
    font-weight: 600;
    margin: 80px 0;
}

.skills ul {
    display: flex;
}

.skills li a {
    margin: 20px;
    color: black;
}


/* Project sec style */

.project {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    position: relative;
    margin: 30px;
}

.image {
    border-radius: 20px 0 20px;
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    border-radius: 20px 0 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.card:hover .overlay {
    opacity: 1;
}

.text-overlay {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/* contact sec style */

.contact {
    margin-top: 30px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.l-contact {
    width: 50%;
    position: relative;
}

.l-contact img {
    width: 600px;
}

.r-contact {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.r-contact h1 {
    margin-bottom: 20px;
    padding-left: 5px;
}

.form input {
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    margin: 5px;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form textarea {
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    height: 300px;
}

.form input:last-child {
    padding: 0;
}

.btnSubmit {
    background-color: black;
    color: white;
    font-size: 12pt;
}


/* footer sec style */

.footer {
    height: 50px;
    background-color: black;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
}


/* 
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 0 80px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center; */

.footer a {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width:768px) {
    .right-side {
        display: none;
    }
    .burger-btn a {
        display: flex;
    }
    .aboutMe {
        overflow-x: hidden;
    }
    .skills ul {
        flex-direction: column;
        margin-bottom: 10px;
    }
    .skills ul li {
        margin-bottom: 10px;
    }
    .cards {
        flex-direction: column;
    }
    .card {
        padding: 0;
        width: 100%;
        margin-left: 0;
    }
    .skills h2 {
        text-align: center;
    }
    .skills ul {
        padding: 0;
    }
    .skills ul li a {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .l-contact {
        display: none;
    }
    .r-contact {
        width: 100%;
        padding: 0;
        margin: 0;
        display: grid;
    }
    .contact {
        padding: 0;
        margin: 0;
        width: 100%;
    }
}
